@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main-color: #0ea5e9;
    --accent: #eab308;
    --text-color: #737373;
    --shadowing: 0 2px 3px rgb(175, 175, 175);
    --profile-pic: center top / cover no-repeat;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template: 11rem 4fr / 16rem 4fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
    min-height: 100vh;
}

a {
    color: white;
}

a:hover {
    text-decoration: underline;
}

/* start of header style */
.header {
    padding: 1rem 4rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: var(--shadowing);
    grid-area: header;
}

.top-header,
.bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search form {
    display: flex;
    align-items: center;
    gap: 16px;
}

.search {
    width: 50vw;
}

.search input {
    padding: 4px 8px;
    border-radius: 5px;
    width: 85%;
}

.profile-bar {
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user {
    background: url(images/batman-profile.jpeg) var(--profile-pic);
}

.profile-display {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile-display .profile-pic {
    width: 80px;
    height: 80px;
}

.buttons {
    display: flex;
    gap: 24px;
}

button {
    background-color: var(--main-color);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 1.5rem;
    padding: 0.5rem 2rem;
    border: none;
}
/* end of header style */

/* start of sidebar style */
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 18rem;
    background-color: var(--main-color);
    color: white;
    grid-area: sidebar;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 16px 0px 0px 8px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sidebar-header svg {
    width: 3rem;
}

svg {
    width: 1.5rem;
}

.sidebar svg path {
    fill: white;
}

.nav ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 1.25rem;
}

.sidebar-content a {
    display: flex;
    gap: 21px;
    margin-left: 12px;
    font-weight: bold;
}

.image-credit {
    align-self: center;
}
/* end of sidebar style */

/* start of main style */
.main {
    display: flex;
    gap: 2rem;
    padding: 1rem 2rem;
    grid-area: main;
}

.main h3 {
    margin-bottom: 1rem;
}

.main-feed {
    flex: 3;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    gap: 1.5rem;
}

.projects article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px 20px 30px;
    border-left: 0.5rem solid var(--accent);
}

article {
    border-radius: 1rem;
    box-shadow: var(--shadowing);
}

article h4 {
    margin-bottom: 0.25rem;
}

article p {
    color: var(--text-color);
}

.interact {
    display: flex;
    justify-content: flex-end;
    gap: 1.25rem;
}

.side-feed {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 3rem;
}

.side-feed article {
    padding: 0 2rem;
}

.announcement,
.account {
    padding: 1.3rem 0;
    border-bottom: 1px solid #d6d3d1;
}

.account {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.joker .profile-pic {
    background: url(images/joker-profile.jpg) var(--profile-pic);
}

.cat .profile-pic {
    background: url(images/catwoman-profile.jpeg) var(--profile-pic);
}

.harley .profile-pic {
    background: url(images/harley-quinn-profile.jpg) var(--profile-pic);
}

.dent .profile-pic {
    background: url(images/two-face-profile.jpg) var(--profile-pic);
}

.riddle .profile-pic {
    background: url(images/riddler-profile.jpeg) var(--profile-pic);
}